* {
  margin: 0 0;
  padding: 0 0;
  outline: none;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  position: relative;
  min-height: 100vh;
  font-family: 'Microsoft YaHei', '宋体', 'Myriad Pro', 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  cursor: pointer;
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  overflow: scroll;
  display: none;
}
.btn-submit {
  display: block;
  width: 80%;
  margin: 40px auto;
  height: 4rem;
  color: white;
  font-size: 2rem;
  border: none;
  background: #ff6469;
  border-radius: 2rem;
}
div.div-line {
  height: 1px;
  background: rgba(200, 200, 200, 0.5);
  margin-bottom: 10px;
}
@keyframes boxAnimate {
  from {
    transform: translate(0, 0);
  }
  16.666% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(200%, 100%);
  }
  66.666% {
    transform: translate(200%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.animate-begin {
  animation: boxAnimate 3s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 1s forwards;
}
.register {
  background: url("../images/bg-1.jpg") no-repeat center;
  background-size: 100% 100%;
}
.register > header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.register > header img {
  display: block;
  margin: 0 auto;
  width: 25%;
}
.register main form {
  margin: 10px 0;
}
.register main form label {
  display: block;
  margin: 10px 10px;
  padding: 0 5px;
  line-height: 40px;
  border-radius: 5px;
  background: white;
  font-size: 1.4rem;
  overflow: hidden;
}
.register main form label img {
  width: 20px;
  vertical-align: -4px;
  margin: 0 5px 0 2px;
}
.register main form label input {
  border: none;
  background: none;
  min-width: 60%;
}
.register main form label select {
  min-width: 6em;
}
.register main form button {
  display: block;
  width: 80%;
  margin: 40px auto;
  height: 4rem;
  color: white;
  font-size: 2rem;
  border: none;
  background: #ff6469;
  border-radius: 2rem;
}
.qrcode {
  background: url("../images/bg-1.jpg") no-repeat center;
  background-size: 100% 100%;
}
.qrcode > header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.qrcode > header img {
  display: block;
  margin: 0 auto;
  width: 25%;
}
.qrcode main form {
  margin: 10px 0;
}
.qrcode main form label {
  display: block;
  margin: 10px 10px;
  padding: 0 5px;
  line-height: 40px;
  border-radius: 5px;
  background: white;
  font-size: 1.4rem;
  overflow: hidden;
}
.qrcode main form label img {
  width: 20px;
  vertical-align: -4px;
  margin: 0 5px 0 2px;
}
.qrcode main form label input {
  border: none;
  background: none;
  min-width: 60%;
}
.qrcode main form label select {
  min-width: 6em;
}
.qrcode main form button {
  display: block;
  width: 80%;
  margin: 40px auto;
  height: 4rem;
  color: white;
  font-size: 2rem;
  border: none;
  background: #ff6469;
  border-radius: 2rem;
}
.qrcode main img {
  display: block;
  width: 50%;
  margin: 10px auto;
}
.qrcode main img:first-of-type {
  width: 30%;
}
.qrcode main p {
  text-align: center;
  font-size: 3rem;
  color: white;
}
.qrcode main button {
  display: block;
  width: 80%;
  margin: 40px auto;
  height: 4rem;
  color: white;
  font-size: 2rem;
  border: none;
  background: #ff6469;
  border-radius: 2rem;
}
.query {
  background: url("../images/bg-1.jpg") no-repeat center;
  background-size: 100% 100%;
}
.query > header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.query > header img {
  display: block;
  margin: 0 auto;
  width: 25%;
}
.query main form {
  margin: 10px 0;
}
.query main form label {
  display: block;
  margin: 10px 10px;
  padding: 0 5px;
  line-height: 40px;
  border-radius: 5px;
  background: white;
  font-size: 1.4rem;
  overflow: hidden;
}
.query main form label img {
  width: 20px;
  vertical-align: -4px;
  margin: 0 5px 0 2px;
}
.query main form label input {
  border: none;
  background: none;
  min-width: 60%;
}
.query main form label select {
  min-width: 6em;
}
.query main form button {
  display: block;
  width: 80%;
  margin: 40px auto;
  height: 4rem;
  color: white;
  font-size: 2rem;
  border: none;
  background: #ff6469;
  border-radius: 2rem;
}
.query h1.title {
  font-size: 2.0rem;
}
.query .bar .button.pull-right {
  font-size: 2.0rem;
}
.query main .queryDate {
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.query main .queryDate p {
  text-align: center;
  color: white;
  font-size: 2rem;
}
.query main .queryDate p input {
  width: 50%;
  border: none;
  border-radius: 10px;
  background: #d4e3ee;
  color: black;
  padding-left: 5px;
  font-size: 2rem;
}
.query main .showInfo p {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 10px;
}
.query main .showInfo p input {
  width: 50%;
  border: none;
  border-radius: 10px;
  background: #d4e3ee;
  color: black;
  font-size: 2rem;
  padding-left: 5px;
}
.query main a.btn-link {
  width: 30%;
  position: absolute;
  top: 5px;
  background: none;
  border: none;
}
.query main a.btn-link:first-of-type {
  left: 10px;
}
.query main a.btn-link:last-of-type {
  right: 10px;
}
.query main a.btn-link img {
  width: 100%;
}
.awards-setting {
  background: url("../images/bg-1.jpg") no-repeat center;
  background-size: 100% 100%;
}
.awards-setting > header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.awards-setting > header img {
  display: block;
  margin: 0 auto;
  width: 25%;
}
.awards-setting main form {
  margin: 10px 0;
}
.awards-setting main form label {
  display: block;
  margin: 10px 10px;
  padding: 0 5px;
  line-height: 40px;
  border-radius: 5px;
  background: white;
  font-size: 1.4rem;
  overflow: hidden;
}
.awards-setting main form label img {
  width: 20px;
  vertical-align: -4px;
  margin: 0 5px 0 2px;
}
.awards-setting main form label input {
  border: none;
  background: none;
  min-width: 60%;
}
.awards-setting main form label select {
  min-width: 6em;
}
.awards-setting main form button {
  display: block;
  width: 80%;
  margin: 40px auto;
  height: 4rem;
  color: white;
  font-size: 2rem;
  border: none;
  background: #ff6469;
  border-radius: 2rem;
}
.awards-setting header button {
  background: none;
  border: none;
  width: 50%;
  max-width: 161px;
  display: block;
  margin: 10px auto;
}
.awards-setting header button img {
  width: 100%;
}
.awards-setting main .setLine {
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.awards-setting main .setLine p {
  text-align: center;
  color: white;
  font-size: 1.6rem;
  padding: 10px 0;
}
.awards-setting main .setLine p input {
  width: 5em;
  border: none;
  color: white;
  text-align: center;
  border-radius: 10px;
  background: #1f4762;
  line-height: 1.5em;
}
.awards-setting main .awards-area {
  width: 90%;
  margin: 10px auto;
  background: #fe9619;
  border-radius: 10px;
  border: 5px solid #fe9619;
}
.awards-setting main .awards-area .awards-table {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  border-collapse: collapse;
}
.awards-setting main .awards-area .awards-table thead {
  color: white;
}
.awards-setting main .awards-area .awards-table tbody {
  background: #f3eec3;
}
.awards-setting main .awards-area .awards-table tbody tr:nth-of-type(odd) {
  background: #f9f9d8;
}
.awards-setting main .awards-area .awards-table tbody tr td {
  padding: 5px 0;
  color: #fe9619;
  font-size: 1.6rem;
}
.awards-setting main .awards-area .awards-table tbody tr td input {
  width: 100%;
  background: none;
  border: none;
  font-size: 1.6rem;
  min-height: 2em;
  padding: 0 5px;
}
.awards-setting main .awards-area .awards-table tbody tr td:nth-of-type(2) div {
  position: relative;
  background: #fe9619;
  color: white;
}
.awards-setting main .awards-area .awards-table tbody tr td:nth-of-type(2) div div.change-awards {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.awards-setting main .awards-area .awards-table tbody tr td:nth-of-type(2) div div.change-awards button {
  height: 100%;
  width: 40%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  float: left;
}
.awards-setting main .awards-area .awards-table tbody tr td:nth-of-type(2) div div.change-awards button:last-of-type {
  float: right;
}
.awards-setting main button.btn-submit {
  background: #fe9619;
}
.awards-setting .add-awards .add-awards-div {
  width: 90%;
  margin: 30px auto 0 auto;
  padding: 10px 5px;
  background: #fff4dc;
  border-radius: 10px;
}
.awards-setting .add-awards .add-awards-div p,
.awards-setting .add-awards .add-awards-div h3 {
  color: #d72517;
}
.awards-setting .add-awards .add-awards-div h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.awards-setting .add-awards .add-awards-div .awards-name {
  text-align: center;
  margin-bottom: 10px;
}
.awards-setting .add-awards .add-awards-div .awards-name input {
  text-align: center;
  width: 70%;
  font-size: 2rem;
  line-height: 2;
  color: #d72517;
  background: #fe9619;
  border: none;
}
.awards-setting .add-awards .add-awards-div .awards-number {
  margin-bottom: 10px;
  font-size: 2rem;
}
.awards-setting .add-awards .add-awards-div .awards-number input {
  text-align: center;
  width: 5em;
  font-size: 2rem;
  line-height: 2;
  color: #d72517;
  background: #fe9619;
  border: none;
}
.awards-setting .add-awards .add-awards-div .awards-beizhu {
  font-size: 2rem;
}
.awards-setting .add-awards .add-awards-div .awards-beizhu input {
  line-height: 1.5rem;
}
.awards-setting .add-awards .add-awards-div button.btn-submit {
  width: 30%;
  font-size: 1.4rem;
  height: 2.5rem;
  background: #fe9619;
  margin: 10px auto;
}
.my-ticket {
  background: url("../images/bg-2.jpg") no-repeat center;
  background-size: 100% 100%;
}
.my-ticket .ticket-area {
  position: relative;
  width: 90%;
  margin: 50px auto 0 auto;
  padding-top: 20px;
  border: 5px solid #ffa676;
  border-radius: 5px;
  background: #f9f9d8;
}
.my-ticket .ticket-area img {
  position: absolute;
  width: 60%;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.my-ticket .ticket-area .ticket-contant {
  width: 90%;
  margin: 5px auto;
  background: url("../images/ticket-bg.png") no-repeat center;
  background-size: 100% 100%;
  padding: 5px;
  color: white;
}
.my-ticket .ticket-area .ticket-contant p.ticket-name {
  font-size: 2.0rem;
}
.my-ticket p.tishi-info {
  color: white;
  text-align: center;
}
.my-ticket p.tishi-info span {
  color: #fff600;
}
.my-ticket button.btn-submit {
  background: #fe9619;
}
.choujiang {
  background: #e74143 url("../images/bg-3.jpg") no-repeat top;
  background-size: 100%;
  padding-top: 80%;
  padding-bottom: 20px;
}
.choujiang main.choujiang-area {
  width: 90%;
  margin: 0 auto 20px auto;
  overflow: auto;
}
.choujiang main.choujiang-area .choujiang-box {
  position: relative;
  width: 33.333%;
  padding: 10px;
  float: left;
}
.choujiang main.choujiang-area .choujiang-box img {
  width: 100%;
}
.choujiang main.choujiang-area .choujiang-box .animate-box {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 10px;
}
.choujiang img.img-start {
  display: block;
  margin: 10px auto;
  width: 50%;
  opacity: 0;
}
.choujiang p.choujiang-link {
  clear: both;
  text-align: center;
  font-size: 2rem;
  color: white;
  line-height: 1;
}
.choujiang p.choujiang-link a {
  text-decoration: underline;
}
.choujiang p.choujiang-link img {
  width: 1.5rem;
  vertical-align: middle;
}
.choujiang a.btn-my-ticket {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 15%;
}
.choujiang a.btn-my-ticket img {
  width: 100px;
}
.choujiang a.btn-my-ticket .ticket-number {
  width: 2em;
  height: 2em;
  background: #e74c3c;
  color: #ffe26a;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  position: absolute;
  top: 0;
  right: 0;
}
.choujiang .meizhong {
  padding-top: 30px;
}
.choujiang .meizhong .meizhong-info {
  background: url("../images/bg-meizhong.png") no-repeat top;
  background-size: 100% auto;
  width: 80%;
  margin: 0 auto;
  padding-top: 90%;
  position: relative;
}
.choujiang .meizhong .meizhong-info .meizhong-content {
  position: absolute;
  top: 50%;
  width: 100%;
}
.choujiang .meizhong .meizhong-info .meizhong-content p {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: #8d5000;
  padding: 0 1em;
}
.choujiang .meizhong button {
  width: 60%;
  background: #d72517;
  color: #ffe26a;
}
.choujiang .zhongjiang {
  padding-top: 30px;
}
.choujiang .zhongjiang .zhongjiang-info {
  background: url("../images/bg-zhongjiang.png") no-repeat top;
  background-size: 100% auto;
  width: 80%;
  margin: 0 auto;
  padding-top: 37%;
  position: relative;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content {
  background: #fff0c5;
  background-clip: content-box;
  width: 100%;
  overflow: scroll;
  padding: 0 8%;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant {
  width: 75%;
  margin: 5px auto;
  background: url("../images/ticket-bg-2.png") no-repeat center;
  background-size: 100% 100%;
  padding: 5px;
  color: white;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant p.ticket-name {
  font-size: 2.0rem;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .xuanchuan-contant {
  min-height: 4em;
  width: 75%;
  margin: 5px auto;
  color: white;
  font-size: 1.6rem;
  background: #ff960e;
  border: 3px solid #ff960e;
  padding: 1px;
  background-clip: content-box;
}
.choujiang .zhongjiang button {
  width: 60%;
  background: #d72517;
  color: #ffe26a;
}
.choujiang .error {
  padding-top: 20%;
}
.choujiang .error .error-info {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.choujiang .error .error-info img {
  width: 100%;
}
.choujiang .error .error-info button.btn-close {
  position: absolute;
  width: 100%;
  height: 13%;
  bottom: 12%;
  background: none;
  border: none;
}
.choujiang .kaixiang .gif-kaixiang {
  position: absolute;
  width: 80%;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.choujiang .kaixiang .gif-kaixiang img {
  width: 100%;
}
.choujiang-info {
  background: url("../images/bg-2.jpg") no-repeat center;
  background-size: 100% 100%;
}
.choujiang-info h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #fff600;
  margin-top: 20px;
}
.choujiang-info button.btn-submit {
  background: #fe9619;
}
.choujiang-info main {
  position: relative;
  width: 90%;
  margin: 20px auto;
  padding-top: 10px;
  border: 5px solid #ffa676;
  border-radius: 5px;
  background: #f9f9d8;
  white-space: pre-wrap;
  font-size: 1.6rem;
  color: #d72517;
}
