* {
  margin: 0 0;
  padding: 0 0;
  outline: none;
  box-sizing: border-box;
}
html {
  font-size: 10px !important;
}
body {
  position: relative;
  min-height: 100vh;
  font-family: 'Microsoft YaHei', '宋体', 'Myriad Pro', 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  cursor: pointer;
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  overflow: scroll;
  display: none;
}
.btn-submit {
  display: block;
  width: 50%;
  margin: 40px auto;
  height: 4rem;
  color: white;
  font-size: 2rem;
  border: none;
  background: #ff6469;
  border-radius: 2rem;
}
div.div-line {
  height: 1px;
  background: rgba(200, 200, 200, 0.5);
  margin-bottom: 10px;
}
.display-none {
  display: none;
}
@-webkit-keyframes boxAnimate {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  16.666% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  50% {
    -webkit-transform: translate(200%, 100%);
            transform: translate(200%, 100%);
  }
  66.666% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes boxAnimate {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  16.666% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  50% {
    -webkit-transform: translate(200%, 100%);
            transform: translate(200%, 100%);
  }
  66.666% {
    -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.animate-begin {
  -webkit-animation: boxAnimate 2s;
          animation: boxAnimate 2s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
}
.register {
  background: url("../images/bg-1.jpg") no-repeat center;
  background-size: 100% 100%;
}
.register > header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.register > header img {
  display: block;
  margin: 0 auto;
  width: 25%;
}
.register main form {
  margin: 10px 0;
}
.register main form label {
  display: block;
  margin: 10px 10px;
  padding: 0 5px;
  line-height: 40px;
  border-radius: 5px;
  background: white;
  font-size: 1.4rem;
  overflow: hidden;
}
.register main form label img {
  width: 20px;
  vertical-align: -4px;
  margin: 0 5px 0 2px;
}
.register main form label input {
  border: none;
  background: none;
  min-width: 60%;
}
.register main form label input[type="file"] {
  width: 50%;
}
.register main form label select {
  font-size: 1.6rem;
  min-width: 6em;
  height: 25px;
}
.register main form button {
  display: block;
  width: 50%;
  margin: 40px auto;
  height: 4rem;
  color: white;
  font-size: 2rem;
  border: none;
  background: #ff6469;
  border-radius: 2rem;
}
.qrcode {
  background: url("../images/bg-1.jpg") no-repeat center;
  background-size: 100% 100%;
}
.qrcode > header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.qrcode > header img {
  display: block;
  margin: 0 auto;
  width: 25%;
}
.qrcode main form {
  margin: 10px 0;
}
.qrcode main form label {
  display: block;
  margin: 10px 10px;
  padding: 0 5px;
  line-height: 40px;
  border-radius: 5px;
  background: white;
  font-size: 1.4rem;
  overflow: hidden;
}
.qrcode main form label img {
  width: 20px;
  vertical-align: -4px;
  margin: 0 5px 0 2px;
}
.qrcode main form label input {
  border: none;
  background: none;
  min-width: 60%;
}
.qrcode main form label input[type="file"] {
  width: 50%;
}
.qrcode main form label select {
  font-size: 1.6rem;
  min-width: 6em;
  height: 25px;
}
.qrcode main form button {
  display: block;
  width: 50%;
  margin: 40px auto;
  height: 4rem;
  color: white;
  font-size: 2rem;
  border: none;
  background: #ff6469;
  border-radius: 2rem;
}
.qrcode main img {
  display: block;
  width: 50%;
  margin: 10px auto;
}
.qrcode main img:first-of-type {
  width: 30%;
}
.qrcode main p {
  text-align: center;
  font-size: 3rem;
  color: white;
}
.qrcode main button {
  display: block;
  width: 50%;
  margin: 40px auto;
  height: 4rem;
  color: white;
  font-size: 2rem;
  border: none;
  background: #ff6469;
  border-radius: 2rem;
}
.query {
  background: url("../images/bg-1.jpg") no-repeat center;
  background-size: 100% 100%;
}
.query > header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.query > header img {
  display: block;
  margin: 0 auto;
  width: 25%;
}
.query main form {
  margin: 10px 0;
}
.query main form label {
  display: block;
  margin: 10px 10px;
  padding: 0 5px;
  line-height: 40px;
  border-radius: 5px;
  background: white;
  font-size: 1.4rem;
  overflow: hidden;
}
.query main form label img {
  width: 20px;
  vertical-align: -4px;
  margin: 0 5px 0 2px;
}
.query main form label input {
  border: none;
  background: none;
  min-width: 60%;
}
.query main form label input[type="file"] {
  width: 50%;
}
.query main form label select {
  font-size: 1.6rem;
  min-width: 6em;
  height: 25px;
}
.query main form button {
  display: block;
  width: 50%;
  margin: 40px auto;
  height: 4rem;
  color: white;
  font-size: 2rem;
  border: none;
  background: #ff6469;
  border-radius: 2rem;
}
.query h1.title {
  font-size: 2.0rem;
}
.query .bar .button.pull-right {
  font-size: 2.0rem;
}
.query main .queryDate {
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.query main .queryDate p {
  text-align: center;
  color: white;
  font-size: 2rem;
}
.query main .queryDate p input {
  width: 50%;
  border: none;
  border-radius: 10px;
  background: #d4e3ee;
  color: black;
  padding-left: 5px;
  font-size: 2rem;
}
.query main .showInfo p {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 10px;
}
.query main .showInfo p input {
  width: 50%;
  border: none;
  border-radius: 10px;
  background: #d4e3ee;
  color: black;
  font-size: 2rem;
  padding-left: 5px;
}
.query main a.btn-link {
  width: 30%;
  position: absolute;
  top: 5px;
  background: none;
  border: none;
}
.query main a.btn-link:first-of-type {
  left: 10px;
}
.query main a.btn-link:last-of-type {
  right: 10px;
}
.query main a.btn-link img {
  width: 100%;
}
.awards-setting {
  background: url("../images/bg-1.jpg") no-repeat center;
  background-size: 100% 100%;
}
.awards-setting > header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.awards-setting > header img {
  display: block;
  margin: 0 auto;
  width: 25%;
}
.awards-setting main form {
  margin: 10px 0;
}
.awards-setting main form label {
  display: block;
  margin: 10px 10px;
  padding: 0 5px;
  line-height: 40px;
  border-radius: 5px;
  background: white;
  font-size: 1.4rem;
  overflow: hidden;
}
.awards-setting main form label img {
  width: 20px;
  vertical-align: -4px;
  margin: 0 5px 0 2px;
}
.awards-setting main form label input {
  border: none;
  background: none;
  min-width: 60%;
}
.awards-setting main form label input[type="file"] {
  width: 50%;
}
.awards-setting main form label select {
  font-size: 1.6rem;
  min-width: 6em;
  height: 25px;
}
.awards-setting main form button {
  display: block;
  width: 50%;
  margin: 40px auto;
  height: 4rem;
  color: white;
  font-size: 2rem;
  border: none;
  background: #ff6469;
  border-radius: 2rem;
}
.awards-setting header button {
  background: none;
  border: none;
  width: 50%;
  max-width: 161px;
  display: block;
  margin: 10px auto;
}
.awards-setting header button img {
  width: 100%;
}
.awards-setting main .setLine {
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.awards-setting main .setLine p {
  text-align: center;
  color: white;
  font-size: 1.6rem;
  padding: 10px 0;
}
.awards-setting main .setLine p input {
  width: 5em;
  border: none;
  color: white;
  text-align: center;
  border-radius: 10px;
  background: #1f4762;
  height: 1.6em;
}
.awards-setting main .awards-area {
  width: 90%;
  margin: 10px auto;
  background: #fe9619;
  border-radius: 10px;
  border: 5px solid #fe9619;
}
.awards-setting main .awards-area .awards-table {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  border-collapse: collapse;
}
.awards-setting main .awards-area .awards-table thead {
  color: white;
}
.awards-setting main .awards-area .awards-table thead th:first-of-type,
.awards-setting main .awards-area .awards-table thead th:last-of-type {
  width: 25%;
}
.awards-setting main .awards-area .awards-table tbody {
  background: #f3eec3;
}
.awards-setting main .awards-area .awards-table tbody tr.line-tuiguang td {
  color: #666;
}
.awards-setting main .awards-area .awards-table tbody tr.line-tuiguang td div#tuiguang-bianji {
  color: #666;
  padding: 5px 0;
}
.awards-setting main .awards-area .awards-table tbody tr.line-link td {
  color: #666;
}
.awards-setting main .awards-area .awards-table tbody tr:nth-of-type(odd) {
  background: #f9f9d8;
}
.awards-setting main .awards-area .awards-table tbody tr td {
  padding: 5px 0;
  color: #fe9619;
  font-size: 1.4rem;
}
.awards-setting main .awards-area .awards-table tbody tr td input {
  width: 100%;
  background: none;
  border: 1px solid #ccc;
  font-size: 1.6rem;
  min-height: 2em;
  padding: 0 5px;
}
.awards-setting main .awards-area .awards-table tbody tr td:nth-of-type(2) {
  font-size: 1.6rem;
}
.awards-setting main .awards-area .awards-table tbody tr td:nth-of-type(2) div {
  position: relative;
  background: #fe9619;
  color: white;
}
.awards-setting main .awards-area .awards-table tbody tr td:nth-of-type(2) div div.change-awards {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.awards-setting main .awards-area .awards-table tbody tr td:nth-of-type(2) div div.change-awards button {
  height: 100%;
  width: 40%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  float: left;
}
.awards-setting main .awards-area .awards-table tbody tr td:nth-of-type(2) div div.change-awards button:last-of-type {
  float: right;
}
.awards-setting main button.btn-submit {
  background: #fe9619;
}
.awards-setting .add-awards .add-awards-div {
  width: 90%;
  margin: 30px auto 0 auto;
  padding: 10px 5px;
  background: #fff4dc;
  border-radius: 10px;
}
.awards-setting .add-awards .add-awards-div p,
.awards-setting .add-awards .add-awards-div h3 {
  color: #d72517;
}
.awards-setting .add-awards .add-awards-div h3 {
  text-align: center;
}
.awards-setting .add-awards .add-awards-div h3 select {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #d72517;
}
.awards-setting .add-awards .add-awards-div .awards-name,
.awards-setting .add-awards .add-awards-div .awards-info,
.awards-setting .add-awards .add-awards-div .awards-number {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.awards-setting .add-awards .add-awards-div .awards-name input,
.awards-setting .add-awards .add-awards-div .awards-info input,
.awards-setting .add-awards .add-awards-div .awards-number input {
  text-align: center;
  width: 5em;
  font-size: 1.5rem;
  line-height: 2;
  color: #d72517;
  background: #fe9619;
  border: none;
}
.awards-setting .add-awards .add-awards-div .awards-name span,
.awards-setting .add-awards .add-awards-div .awards-info span,
.awards-setting .add-awards .add-awards-div .awards-number span {
  float: right;
  line-height: 2.5;
  font-size: 1.6rem;
}
.awards-setting .add-awards .add-awards-div .awards-name input {
  margin-left: 2em;
  width: 10em;
}
.awards-setting .add-awards .add-awards-div .awards-info input {
  width: 10em;
}
.awards-setting .add-awards .add-awards-div .awards-number input {
  margin-left: 2em;
}
.awards-setting .add-awards .add-awards-div .awards-beizhu {
  font-size: 1.4rem;
  color: darkgray;
}
.awards-setting .add-awards .add-awards-div button.btn-submit {
  width: 30%;
  font-size: 1.4rem;
  height: 2.5rem;
  background: #fe9619;
  margin: 10px auto;
}
.awards-setting .add-tuiguang .add-tuiguang-div {
  width: 90%;
  margin: 30px auto 0 auto;
  padding: 10px 5px;
  background: #fff4dc;
  border-radius: 10px;
}
.awards-setting .add-tuiguang .add-tuiguang-div p,
.awards-setting .add-tuiguang .add-tuiguang-div h3 {
  color: #d72517;
}
.awards-setting .add-tuiguang .add-tuiguang-div h3 {
  text-align: center;
  font-size: 2rem;
}
.awards-setting .add-tuiguang .add-tuiguang-div p.switch-line {
  margin: 10px 0;
  font-size: 1.5rem;
  color: white;
  height: 2em;
  text-align: center;
}
.awards-setting .add-tuiguang .add-tuiguang-div p.switch-line button {
  width: 6em;
  height: 100%;
  background: #fe9619;
  border: none;
}
.awards-setting .add-tuiguang .add-tuiguang-div p.switch-line button#btn-tu {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-right: 1px;
}
.awards-setting .add-tuiguang .add-tuiguang-div p.switch-line button#btn-wen {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-left: 1px;
}
.awards-setting .add-tuiguang .add-tuiguang-div p.switch-line button.active {
  background: #8d5000;
}
.awards-setting .add-tuiguang .add-tuiguang-div div.switch-tu div.tuiguang-img {
  position: relative;
  padding-bottom: 45%;
  margin-bottom: 10px;
  overflow: hidden;
}
.awards-setting .add-tuiguang .add-tuiguang-div div.switch-tu div.tuiguang-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.awards-setting .add-tuiguang .add-tuiguang-div div.switch-wen {
  display: none;
}
.awards-setting .add-tuiguang .add-tuiguang-div div.switch-wen .input-area {
  position: relative;
  padding-bottom: 45%;
  margin-bottom: 10px;
  overflow: hidden;
}
.awards-setting .add-tuiguang .add-tuiguang-div div.switch-wen .input-area textarea {
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  resize: none;
  overflow: hidden;
}
.awards-setting .add-tuiguang .add-tuiguang-div button.btn-submit {
  width: 30%;
  font-size: 1.4rem;
  height: 2.5rem;
  background: #fe9619;
  margin: 10px auto;
}
.my-ticket {
  background: #cb274e;
}
.my-ticket > header {
  height: 40px;
  color: white;
  padding: 10px;
}
.my-ticket > header a.ico-left {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/left.png") no-repeat center;
  background-size: 100% 100%;
  vertical-align: -3px;
  margin-right: 10px;
}
.my-ticket > header h1 {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  padding-left: 10px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}
.my-ticket .ticket-area {
  position: relative;
  width: 90%;
  margin: 20px auto;
}
.my-ticket .ticket-area .ticket-contant {
  background: white;
  border-radius: 5px;
}
.my-ticket .ticket-area .ticket-contant i.line-dashed {
  position: absolute;
  display: block;
  background: none;
  border-bottom: 1px dashed #eee;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
.my-ticket .ticket-area .ticket-contant i.ico {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background: #cb274e;
  border-radius: 50px;
  z-index: 10;
}
.my-ticket .ticket-area .ticket-contant i.ico-top-left {
  top: -5px;
  left: -5px;
}
.my-ticket .ticket-area .ticket-contant i.ico-top-right {
  top: -5px;
  right: -5px;
}
.my-ticket .ticket-area .ticket-contant i.ico-bottom-left {
  bottom: -5px;
  left: -5px;
}
.my-ticket .ticket-area .ticket-contant i.ico-bottom-right {
  bottom: -5px;
  right: -5px;
}
.my-ticket .ticket-area .ticket-contant > header {
  position: relative;
  overflow: hidden;
  padding: 10px;
}
.my-ticket .ticket-area .ticket-contant > header .shop-logo {
  display: inline-block;
  position: relative;
  width: 15%;
  padding-bottom: 15%;
  vertical-align: middle;
  overflow: hidden;
}
.my-ticket .ticket-area .ticket-contant > header .shop-logo img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.my-ticket .ticket-area .ticket-contant > header h1.shop-name {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
}
.my-ticket .ticket-area .ticket-contant > main.ticket-main {
  position: relative;
  overflow: hidden;
  padding: 10px;
}
.my-ticket .ticket-area .ticket-contant > main.ticket-main div.ticket-info {
  line-height: 1.5;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.my-ticket .ticket-area .ticket-contant > main.ticket-main div.ticket-info p.ticket-level {
  font-size: 16px;
  text-align: center;
}
.my-ticket .ticket-area .ticket-contant > main.ticket-main div.ticket-info p.ticket-title {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}
.my-ticket .ticket-area .ticket-contant > main.ticket-main div.ticket-info p.ticket-tiaojian,
.my-ticket .ticket-area .ticket-contant > main.ticket-main div.ticket-info p.ticket-date {
  font-size: 14px;
}
.my-ticket .ticket-area .ticket-contant > main.ticket-main div.ticket-info p.ticket-tiaojian a,
.my-ticket .ticket-area .ticket-contant > main.ticket-main div.ticket-info p.ticket-date a {
  float: right;
  margin-right: 10px;
  color: blue;
}
.my-ticket .ticket-area .ticket-contant > main.ticket-main div.ticket-use {
  border-bottom: 1px solid #eee;
}
.my-ticket .ticket-area .ticket-contant > main.ticket-main div.ticket-use button {
  display: block;
  width: 50%;
  margin: 10px auto;
  height: 2em;
  font-size: 20px;
  color: white;
  text-align: center;
  background: #8e61be;
  border: none;
  border-radius: 5px;
}
.my-ticket .ticket-area .ticket-contant > main.ticket-main div.ticket-tel-addr p {
  font-size: 16px;
  line-height: 1.5;
}
.choujiang {
  background: #e74143 url("../images/bg-3.jpg") no-repeat top;
  background-size: 100%;
  padding-top: 80%;
  padding-bottom: 20px;
}
.choujiang main.choujiang-area {
  width: 90%;
  margin: 0 auto 20px auto;
  overflow: auto;
}
.choujiang main.choujiang-area .choujiang-box {
  position: relative;
  width: 33.333%;
  padding: 10px;
  float: left;
}
.choujiang main.choujiang-area .choujiang-box img {
  width: 100%;
}
.choujiang main.choujiang-area .choujiang-box .animate-box {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 10px;
}
.choujiang img.img-start {
  display: block;
  margin: 10px auto;
  width: 50%;
  opacity: 0;
}
.choujiang p.choujiang-link {
  clear: both;
  text-align: center;
  font-size: 2rem;
  color: white;
  line-height: 1;
}
.choujiang p.choujiang-link a {
  text-decoration: underline;
}
.choujiang p.choujiang-link img {
  width: 1.5rem;
  vertical-align: middle;
}
.choujiang a.btn-my-ticket {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 15%;
}
.choujiang a.btn-my-ticket img {
  width: 100px;
}
.choujiang a.btn-my-ticket .ticket-number {
  width: 2em;
  height: 2em;
  background: #e74c3c;
  color: #ffe26a;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  position: absolute;
  top: 0;
  right: 0;
}
.choujiang .meizhong {
  padding-top: 30px;
}
.choujiang .meizhong .meizhong-info {
  background: url("../images/bg-meizhong.png") no-repeat top;
  background-size: 100% auto;
  width: 90%;
  margin: 0 auto;
  padding-top: 40%;
  position: relative;
}
.choujiang .meizhong .meizhong-info .meizhong-content {
  width: 85%;
  padding-bottom: 10px;
  margin: 0 6% -1px 9%;
  background: #fff0c5;
}
.choujiang .meizhong .meizhong-info .meizhong-content p {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: #8d5000;
  padding: 0 1em;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content {
  background: #fff0c5;
  width: 85%;
  overflow: scroll;
  padding-bottom: 10px;
  margin: 0 6% 10px 9%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant {
  position: relative;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant > header {
  position: relative;
  overflow: hidden;
  padding: 10px 10px 2px 10px;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant > header .shop-logo {
  display: inline-block;
  position: relative;
  width: 15%;
  padding-bottom: 15%;
  vertical-align: middle;
  overflow: hidden;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant > header .shop-logo img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant > header h1.shop-name {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant > main.tuiguang-img {
  display: block;
  position: relative;
  width: 95%;
  padding-bottom: 45%;
  margin: 0 auto;
  overflow: hidden;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant > main.tuiguang-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant > main.tuiguang-img p {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.3);
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant > main.tuiguang-img p span {
  float: right;
  margin-right: 10px;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant > main.tuiguang-wen {
  display: block;
  position: relative;
  width: 95%;
  padding-bottom: 45%;
  margin: 0 auto;
  overflow: hidden;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant > main.tuiguang-wen div.tuiguang-text {
  position: absolute;
  background: #eee;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  white-space: pre-wrap;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant > main.tuiguang-wen p {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.3);
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant > main.tuiguang-wen p span {
  float: right;
  margin-right: 10px;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant p.shop-addr {
  font-size: 14px;
  padding-left: 2.5%;
  margin-bottom: 10px;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant i.line-dashed {
  position: absolute;
  display: block;
  background: none;
  border-bottom: 1px dashed #eee;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant i.ico {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background: #fff0c5;
  border-radius: 50px;
  z-index: 10;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant i.ico-top-left {
  top: -5px;
  left: -5px;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant i.ico-top-right {
  top: -5px;
  right: -5px;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant i.ico-bottom-left {
  bottom: -5px;
  left: -5px;
}
.choujiang .meizhong .meizhong-info .zhongjiang-content .tuiguang-contant i.ico-bottom-right {
  bottom: -5px;
  right: -5px;
}
.choujiang .meizhong button {
  width: 60%;
  background: #d72517;
  color: #ffe26a;
}
.choujiang .zhongjiang {
  padding-top: 30px;
}
.choujiang .zhongjiang .zhongjiang-info {
  background: url("../images/bg-zhongjiang.png") no-repeat top;
  background-size: 100% auto;
  width: 80%;
  margin: 0 auto;
  padding-top: 37%;
  position: relative;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content {
  background: #fff0c5;
  width: 84%;
  overflow: scroll;
  margin: 0 8%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant {
  background: white;
  border-radius: 5px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant i.line-dashed {
  position: absolute;
  display: block;
  background: none;
  border-bottom: 1px dashed #eee;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant i.ico {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background: #fff0c5;
  border-radius: 50px;
  z-index: 10;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant i.ico-top-left {
  top: -5px;
  left: -5px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant i.ico-top-right {
  top: -5px;
  right: -5px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant i.ico-bottom-left {
  bottom: -5px;
  left: -5px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant i.ico-bottom-right {
  bottom: -5px;
  right: -5px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant > header {
  position: relative;
  overflow: hidden;
  padding: 10px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant > header .shop-logo {
  display: inline-block;
  position: relative;
  width: 15%;
  padding-bottom: 15%;
  vertical-align: middle;
  overflow: hidden;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant > header .shop-logo img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant > header h1.shop-name {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant > main.ticket-main {
  position: relative;
  overflow: hidden;
  padding: 10px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant > main.ticket-main div.ticket-info {
  line-height: 1.5;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant > main.ticket-main div.ticket-info p.ticket-level {
  font-size: 16px;
  text-align: center;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant > main.ticket-main div.ticket-info p.ticket-title {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant > main.ticket-main div.ticket-info p.ticket-tiaojian,
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant > main.ticket-main div.ticket-info p.ticket-date {
  font-size: 14px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant > main.ticket-main div.ticket-info p.ticket-tiaojian a,
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant > main.ticket-main div.ticket-info p.ticket-date a {
  float: right;
  margin-right: 10px;
  color: blue;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant > main.ticket-main div.ticket-use {
  border-bottom: 1px solid #eee;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant > main.ticket-main div.ticket-use button {
  display: block;
  width: 50%;
  margin: 10px auto;
  height: 2em;
  font-size: 20px;
  color: white;
  text-align: center;
  background: #8e61be;
  border: none;
  border-radius: 5px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .ticket-contant > main.ticket-main div.ticket-tel-addr p {
  font-size: 16px;
  line-height: 1.5;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant {
  position: relative;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant > header {
  position: relative;
  overflow: hidden;
  padding: 10px 10px 2px 10px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant > header .shop-logo {
  display: inline-block;
  position: relative;
  width: 15%;
  padding-bottom: 15%;
  vertical-align: middle;
  overflow: hidden;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant > header .shop-logo img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant > header h1.shop-name {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant > main.tuiguang-img {
  display: block;
  position: relative;
  width: 95%;
  padding-bottom: 45%;
  margin: 0 auto;
  overflow: hidden;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant > main.tuiguang-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant > main.tuiguang-img p {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.3);
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant > main.tuiguang-img p span {
  float: right;
  margin-right: 10px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant > main.tuiguang-wen {
  display: block;
  position: relative;
  width: 95%;
  padding-bottom: 45%;
  margin: 0 auto;
  overflow: hidden;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant > main.tuiguang-wen div.tuiguang-text {
  position: absolute;
  background: #eee;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  white-space: pre-wrap;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant > main.tuiguang-wen p {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.3);
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant > main.tuiguang-wen p span {
  float: right;
  margin-right: 10px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant p.shop-addr {
  font-size: 14px;
  padding-left: 2.5%;
  margin-bottom: 10px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant i.line-dashed {
  position: absolute;
  display: block;
  background: none;
  border-bottom: 1px dashed #eee;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant i.ico {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background: #fff0c5;
  border-radius: 50px;
  z-index: 10;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant i.ico-top-left {
  top: -5px;
  left: -5px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant i.ico-top-right {
  top: -5px;
  right: -5px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant i.ico-bottom-left {
  bottom: -5px;
  left: -5px;
}
.choujiang .zhongjiang .zhongjiang-info .zhongjiang-content .tuiguang-contant i.ico-bottom-right {
  bottom: -5px;
  right: -5px;
}
.choujiang .zhongjiang button {
  width: 60%;
  background: #d72517;
  color: #ffe26a;
}
.choujiang .error {
  padding-top: 20%;
}
.choujiang .error .error-info {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.choujiang .error .error-info img {
  width: 100%;
}
.choujiang .error .error-info button.btn-close {
  position: absolute;
  width: 100%;
  height: 13%;
  bottom: 12%;
  background: none;
  border: none;
}
.choujiang .kaixiang .gif-kaixiang {
  position: absolute;
  width: 100%;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.choujiang .kaixiang .gif-kaixiang img {
  width: 100%;
}
.choujiang .gif-loading {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  width: 50px;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.choujiang-info {
  background: url("../images/bg-2.jpg") no-repeat center;
  background-size: 100% 100%;
}
.choujiang-info h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #fff600;
  margin-top: 20px;
}
.choujiang-info button.btn-submit {
  background: #fe9619;
}
.choujiang-info main {
  position: relative;
  width: 90%;
  margin: 20px auto;
  padding-top: 10px;
  border: 5px solid #ffa676;
  border-radius: 5px;
  background: #f9f9d8;
  white-space: pre-wrap;
  font-size: 1.6rem;
  color: #d72517;
}
